html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: Muller, sans-serif, Arial;
  background-color: #f1f1f1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}


/* index.html */
.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0;
}

.section {
  padding-top: 35px;
  padding-bottom: 35px;
}

.about-us-text {
  box-sizing: border-box;
  max-width: 888px;
  margin: 0;

  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.header {
  box-sizing: border-box;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 35px;
}

.logo-top {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.header-logo-link {
  margin-right: 40px;
}

.header-logo-image {
  display: block;
}

.header-phone {
  margin-right: auto;

  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
}

.header-lk {
  display: block;
  padding-left: 29px;

  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #CC9933;

  background-image: url("../img/Vector.svg");
  background-repeat: no-repeat;
  background-size: 21px 13px;
  background-position: left center;
}

.button {
  box-sizing: border-box;
  min-height: 42px;
  padding: 12px 20px;
  border: 1px solid #CC9933;

  color: #CC9933;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;

  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
}

.header-bottom {
  box-sizing: border-box;
  display: flex;
  padding: 14px 45px;
  min-height: 70px;
  background-color: #fff;
  border-radius: 15px;
}

.header-nav {
  box-sizing: border-box;
  margin-right: auto;
  max-width: 700px;
  padding-right: 10px;

}

.header-nav-list {
  display: flex;
  padding: 0;
  margin: 0;
  height: 100%;
  line-height: 16px;
  align-items: center;
  justify-content: flex-start;
  list-style-type: none;
  flex-wrap: wrap;
  gap: 10px 45px;
}

.header-nav-element {
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}

.header-nav-element-link {
  box-sizing: border-box;
  /* padding-right: 22.5px;
  padding-left: 22.5px; */
  /* min-height: 70px; */
  display: flex;
  align-items: center;
}


/* .header-nav-element:last-child {
  margin-right: 0;
} */

.header-button-zone {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: calc(100% - 700px);
  gap: 10px 40px;
}

/* .header-button {
  margin-right: 40px;
} */

/* .header-button:last-child {
  margin-right: 0;
} */


.special-offer-container {
  display: flex;
  align-items: stretch;
  gap: 23px;
}

.special-offer-row {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 23px;
}

.special-offer-offers {
  padding: 0;
  margin: 0;
  display: grid;
  width: 100%;
  gap: 24px;
  grid-template-columns: repeat(12, 1fr);
}

.special-offer-offer {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-start;
  width: 573px;
  min-height: 258px;
  padding: 10px 45px 40px 45px;
  position: relative;
  border-radius: 15px;
  list-style-type: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.special-offer-offers-first {
  background-image: url('../img/sp_1.jpg');
}

.special-offer-offers-second {
  min-height: 540px;
  background-image: url('../img/sp_3.jpg');
}

.special-offer-offers-third {
  background-image: url('../img/sp_2.jpg');
}

.gradient::before {
  top: 0px;
  left: 0;
  position: absolute;
  display: block;
  min-height: 258px;
  height: 100%;
  width: 573px;
  border-radius: 15px;
  background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%);
  content: "";
}

.special-offer-header {
  position: relative;
  z-index: 1;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  color: #fff;

}

.special-offer-header-big {
  max-width: 300px;
  font-size: 60px;
  line-height: 60px;
}

.special-offer-cost {
  position: relative;
  margin: 0;
  margin-bottom: 47px;
  z-index: 1;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
}

.special-offer-cost-big {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
}

.special-offer-more {

  z-index: 1;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: #F0BF5F;
}

.special-offer-more::after {
  top: 5px;
  left: 5px;
  position: relative;
  content: url('../img/Rectangle2.svg');
}

.items-services {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.items-reset {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.services-item {
  box-sizing: border-box;
  max-width: 573px;
  /* margin-bottom: 2%;
  width: 49%;
  margin-right: 2%; */
  background-color: #fff;
  border-radius: 15px;
}

.services-item::before {
  display: block;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  min-height: 165px;
  content: "";
}

/*
.services-item:nth-child(2n) {
  margin-right: 0;
}

.services-item:nth-last-child(1),
.services-item:nth-last-child(2) {
  margin-bottom: 0;
} */

.services-item-image-1::before {
  background-image: url('../img/usl_1.jpg');
}

.services-item-image-2::before {
  background-image: url('../img/usl_2.jpg');
}

.services-item-image-3::before {
  background-image: url('../img/usl_3.jpg');
}

.services-item-image-4::before {
  background-image: url('../img/usl_4.jpg');
}

.services-block-text {
  padding: 26px 126px 35px 45px;
}

.services-title-header {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
  color: #C93;
}

.services-title-header::after {
  top: 4px;
  left: 5px;
  position: relative;
  content: url('../img/Rectangle2.svg');
}


.services-text {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #000;
}

.advantages-items {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
}

.advantages-item {
  /* width: 23.5%;
  margin-right: 2%;
  margin-bottom: 2%; */
  max-width: 276px;
  padding: 40px 42px 32px 45px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  background-color: #fff;
  border-radius: 15px;
}

/* .advantages-item:nth-child(4n) {
  margin-right: 0;
}

.advantages-item:nth-last-child(1),
.advantages-item:nth-last-child(2),
.advantages-item:nth-last-child(3),
.advantages-item:nth-last-child(4) {
  margin-bottom: 0;
} */

.advantages-item::before {
  display: block;
  margin-bottom: 10px;
  content: "";
}

.advantages-item-image-1::before {
  content: url("../img/adv1.svg");
}

.advantages-item-image-2::before {
  content: url("../img/adv2.svg");
}

.advantages-item-image-3::before {
  content: url("../img/adv3.svg");
}

.advantages-item-image-4::before {
  content: url("../img/adv4.svg");
}

.advantages-item-image-5::before {
  content: url("../img/adv5.svg");
}

.advantages-item-image-6::before {
  content: url("../img/adv6.svg");
}

.advantages-item-image-7::before {
  content: url("../img/adv7.svg");
}

.advantages-item-image-8::before {
  content: url("../img/adv8.svg");
}

.items-locations {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.locations-item {
  max-width: 374px;
  /* width: 32%;
  margin-right: 2%;
  margin-bottom: 2%; */
}

/* .locations-item:nth-child(3n) {
  margin-right: 0;
}

.locations-item:nth-last-child(1),
.locations-item:nth-last-child(2),
.locations-item:nth-last-child(3) {
  margin-bottom: 0;
} */

.locations-article {
  width: 374px;
  min-height: 440px;
  border-radius: 15px;
  background-color: #fff;
}

.locations-image {
  display: block;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.locations-text-block {
  box-sizing: border-box;
  padding: 32px 45px 45px 45px;
}

.locations-cost {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}

.locations-cost-from {
  color: #999;
}

.locations-cost-number {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: #000;
}

.locations-name {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}

.locations-place {
  margin: 0;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #999;

}

.button-locations {
  display: block;
}

.locations-item-last {
  display: flex;
  padding: 27px 54px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border-radius: 15px;
  background-image: url('../img/razm_more.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.see-all-locations {
  display: block;
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
  color: #fff;
}

.see-all-locations::after {
  top: 4px;
  left: 6px;
  position: relative;
  content: url('../img/Rectangle3.svg');
}

.locations-rating {
  display: block;
  float: right;
}

.locations-rating-star {
  margin-right: 6px;
}

.locations-rating-star:last-child {
  margin-right: 0;
}

.section-header {
  margin: 0;
  margin-bottom: 20px;
  padding-left: 40px;

  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
}

.locations-name {
  margin: 0;
  margin-bottom: 16px;
}

.services-title {
  margin: 0;
}

.locations-cost {
  margin-bottom: 16px;
}

.locations-place {
  margin-bottom: 20px;
}
